* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Monotype Italian Old Style', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: 'Bon Vivant Regular';
    src: url('https://ushushushu.github.io/CCC181-Personal-Website/fonts/BonVivant-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Monotype Italian Old Style';
    src: url('https://ushushushu.github.io/CCC181-Personal-Website/fonts/ItalianOldStyleMTStd.otf')  format('opentype');
}

:root {
    --bg-color: #FFFFFF;
    --text-color1: #FFFFFF;
    --text-color2: #000000;
    --alternative-black: #333333;
    --accent-color: #C39738;
    --brighter-accent: #E4A62E;
    --transitions: all 0.4s ease;
    --total-slides: 3;
}

*::selection {
    color: var(--brighter-accent);
}

body {
    background: var(--bg-color);
    color: var(--text-color2);
}

/* NAVIGATION BAR */

.navbar {
    background: transparent;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    align-items: center;
    z-index: 100;
    overflow: hidden;
}

.navbar.active {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.logo-container {
    width: 380px;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 100%;
}

.menu a {
    position: relative;
    color: var(--text-color2);
    font-size: 14px;
    margin-left: 60px;
}

.menu a:hover {
    color: var(--brighter-accent);
    transition: var(--transitions);
}

.menu a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--brighter-accent);
    transition: var(--transitions);
}

.menu a:hover::before {
    width: 100%;
}

.content-container {
    margin-top: 80px;
    width: 100%;
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    padding-right: 70px;
    padding-top: 70px;
    position: relative;
    height: 132px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text-container h1 {
    font-family: 'Bon Vivant Regular', serif;
    font-size: 5vw;
    position: relative;
    font-weight: lighter;
    color: var(--text-color2);
}

.text-container p {
    padding-right: 270px;
    text-align: justify;
}

.img-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    padding-top: 70px;
    /* overflow: hidden; */
    margin-right: 50px;
}

.img-container img {
    width: 300px;
    height: 375px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.2);
}


