* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Monotype Italian Old Style', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: 'Bon Vivant Regular';
    src: url('https://ushushushu.github.io/CCC181-Personal-Website/fonts/BonVivant-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Monotype Italian Old Style';
    src: url('https://ushushushu.github.io/CCC181-Personal-Website/fonts/ItalianOldStyleMTStd.otf')  format('opentype');
}

:root {
    --bg-color: #FFFFFF;
    --text-color1: #FFFFFF;
    --text-color2: #000000;
    --alternative-black: #333333;
    --accent-color: #C39738;
    --brighter-accent: #E4A62E;
    --transitions: all 0.4s ease;
    --total-slides: 3;
}

*::selection {
    color: var(--brighter-accent);
}

body {
    background-image: url("https://ushushushu.github.io/CCC181-Personal-Website/images/final1.png");
}

/* NAVIGATION BAR */

.navbar {
    background: transparent;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    align-items: center;
    z-index: 100;
    overflow: hidden;
}

.navbar.active {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.logo-container {
    width: 380px;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 100%;
}

.menu a {
    position: relative;
    color: var(--text-color1);
    font-size: 14px;
    margin-left: 60px;
}

.menu a:hover {
    color: var(--brighter-accent);
    transition: var(--transitions);
}

.menu a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--brighter-accent);
    transition: var(--transitions);
}

.menu a:hover::before {
    width: 100%;
}

/* OPENING */

.opening {
    position: relative;
}

.opening h1 {
    margin-top: 90px;
    margin-left: 110px;
    font-family: 'Bon Vivant Regular', serif;
    color: var(--text-color1);
    font-size: 150px;
    font-weight: lighter;
    z-index: 1;
    position: absolute;
}

.opening h2 {
    position: absolute;
    font-size: 18px;
    color: var(--brighter-accent);
    top: 290px;
    left: 110px;
    z-index: 2;
    font-weight: lighter;
}

.opening-paragraph p {
    font-family: 'Roboto', sans-serif;
    width: 300px;
    height: 50px;
    position: absolute;
    font-size: 15px;
    color: var(--text-color1);
    margin-top: 330px;
    margin-left: 110px;
    text-align: justify;
    text-justify: inter-word;
}

.button-container {
    margin-top: 450px;
    margin-left: 110px;
    position: absolute;
    display: flex;
    align-items: center;
}

.button-container button {
    background: transparent;
    color: var(--text-color1);
    width: 40px;
    height: 40px;
    border: 2px solid var(--text-color1);
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.button-container button:hover {
    background: var(--bg-color);
    width: 40px;
    height: 40px;
    border: 2px solid var(--bg-color);
    border-radius: 50%;
    color: var(--accent-color);
    transition: var(--transitions);
}

.button-container .round-button .fa-linkedin-in {
    font-size: 1rem;
    width: 100%;
}

.button-container .round-button .fa-github-alt {
    font-size: 1.5rem;
    width: 100%;
}

.button-container .round-button .fa-paper-plane {
    font-size: 1rem;
    width: 100%;
}

.welcome-section {
    background: var(--alternative-black);
    margin-top: 620px;
    width: 100%;
    height: 330px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcome-section p {
    padding-bottom: 20px;
    width: 600px;
    font-size: 25px;
    color: var(--text-color1);
    text-align: center;
}

.welcome-section h3 {
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    color: var(--accent-color);
    font-size: 12px;
    text-align: center;
}

.literature-text {
    position: absolute;
    background: #7c474a;
    margin-top: 950px;
    width: 100%;
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.literature-text h1 {
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 70px;
    color: var(--accent-color);
    font-size: 10vw;
    letter-spacing: 5px;
    font-weight: lighter;
}

.quote-container {
    position: absolute;
    margin-top: 990px;
    width: 100%;
    height: 100px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container h3 {
    color: var(--text-color1);
    font-size: 20px;
    font-weight: lighter;
    position: absolute;
}

.options-container {
    position: absolute;
    margin-top: 1020px;
    width: 100%;
    height: 50px;
    z-index: 3;
    padding-left: 380px;
    padding-right: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options-container h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: var(--text-color1);
    font-weight: lighter;
    letter-spacing: 2px;
}

#statue-model {
    height: 620px;
    width: 100%;
    margin-top: 950px;
    position: absolute;
    overflow: hidden;
}

/* This styles the 3D object inserted in the aside container */
#statue-model model-viewer {
    top: -100px;
    overflow: hidden;
    height: 300%;
    width: 100%;
    position: relative;
    margin-left: 8%;
    z-index: 4;
}

/* .shadow {
    z-index: 4;
    background: rgba(0,0,0, 0.3);
    height: 620px;
    width: 100%;
    margin-top: 950px;
    position: absolute;
} */

/* .lights-overlay {
    z-index: 5;
    background: radial-gradient(circle at top, rgba(255,255,255,0.4), 20%, rgba(0,0,0,0.1));
    height: 620px;
    width: 100%;
    margin-top: 950px;
    position: absolute;
} */

.portfolio-container {
    margin-top: 1570px;
    width: 100%;
    height: 620px;
    background: var(--bg-color);
    position: absolute;
}

.portfolio-text {
    float: right;
    position: relative;
    margin-top: 100px; 
    margin-right: 68px;
    width: 541px;
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 190px;
}

.portfolio-txt-heading {
    position: relative;
    width: 100%;
    text-align: center;
}

.portfolio-text h1 {
    width: 100%;
    font-family: 'Playfair Display', serif;
    color: var(--alternative-black);
    font-size: 4vw;
    font-weight: lighter;
    line-height: 60px;
}

.portfolio-text h2 {
    font-size: 18px;
    color: var(--brighter-accent);
    z-index: 1;
    font-weight: lighter;
}

.portfolio-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-left: 76px;
    padding-right: 76px;
    text-align: justify;

}

.slider-container {
    position: absolute;
    margin-top: 100px;
    margin-left: 70px;
    width: 550px;
    height: 470px;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.2);
}

.slider-img {
	display: flex;
	aspect-ratio: 16/9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.slider-img::-webkit-scrollbar {
	display: none;
}

.slider-img img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.radio-container {
    display: flex;
	column-gap: 1rem;
	position: absolute;
    margin-top: 300px;
    margin-left: 630px;
    rotate: 90deg;
}

.radio-container input {
    width: 0.8rem;
	height: 0.8rem;
	border-radius: 50%;
    accent-color: var(--alternative-black);
    cursor: pointer;
}

.radio-container input:hover {
    outline-color: var(--accent-color);
}
